.container{
  position: relative;
  top: 13vh;
  margin: auto;
  width: 50vw;
   height: 70vh;
  /* border: 12px solid ; */
  /* border-color: #D22C2C; */
  box-shadow: 10px 10px 28px whitesmoke;
  border-radius: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.container img{
  height: 70vh;
  position: absolute;  
}

#hour,#minute,#second{
  position: absolute;
  border-radius: 10px; 
  transform-origin:bottom;

}

#hour{
  top: 17vh;
  left: 24.75vw;
  opacity: 0.7;
  height: 18vh;
  width: 0.7vw;
  background-color: black;
  /* display: none; */
}

#minute{
  top: 15vh;
  left: 24.9vw;
  opacity: 0.7;
  height: 20vh;
  width: 0.4vw;
  background-color: rgb(255, 30, 0);
  /* display: none; */
}

#second{
  top: 13.1vh;
  left: 24.95vw;
  opacity: 0.7;
  height: 22vh;
  width: 0.3vw;
  background-color:rgb(175, 17, 25);
  /* display: none; */
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  /* border: 22px solid; */
  /* border-color: #393A3C;  */
  box-shadow: inset 0 0 2.5rem whitesmoke;
}
